@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  /* default padding and margin set to zero */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}
body {
  height: 100%;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}
h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}
h4 {
  font-size: 20px;
  color: #222;
}
h6 {
  font-weight: 700;
  font-size: 12px;
  color: #222;
}
p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

/* header style */

.header {
  display: flex;
  flex-direction: row;
  background-color: #e3e6f3;
  height: 82px;
  justify-content: space-between;
  padding: 20px 80px;
  box-shadow: 0 5px 15px rgba(56, 17, 17, 0.06);
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
}
.right-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 500px;

  justify-content: space-between;
}
.header-list-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.header-list-nav ul {
  display: flex;
}
.header-list-nav ul li {
  list-style-type: none;
  padding: 0 20px;
  position: relative;
}

.header-list-nav ul a {
  font-size: 20px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}
.header-list-nav ul a:hover,
.header-list-nav ul a.active {
  color: #088178;
  content: "";
}
.logo {
  display: flex;
  align-items: center;
  font-family: Arial, sans-serif;
}

.logo-pic {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.logo-text {
  font-size: 40px; /* Set font size */
  font-weight: bold; /* Set font weight */
}
/* main page style */
.main-content {
  display: flex;
  flex-direction: row;
  z-index: 0;
}
#main-page-picture {
  padding-top: 100px;
}
#hero {
  /* background-image: url(images\home.png); */
  background-color: #e3e6f3;
  width: 100%;
  height: 100vh;
  background-size: cover;
  /* opacity: 0.5; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 80px;
}
#hero h4 a {
  padding-bottom: 15px;
  padding-top: 50px;
  font-size: 40px;
  color: white;
}
#hero h2 a {
  font-size: 70px;
}
#hero h1 a {
  color: #088178;
  font-size: 70px;
  padding-bottom: 20px;
  padding-top: 20px;
}
#hero button {
  background-color: transparent;
  background-image: url(images/button.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 260px;
  height: 60px;
  border: 0;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  color: #088178;
  padding: 14px 65px 14px 65px;
}

.content {
  padding-top: 20px;
  padding-bottom: 10px;
}
.content1 {
  padding-bottom: 20px;
}

/* about us page code
 */
